<div class="container" style="margin-top: 2rem;">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2 cart-details">
            <app-searched-components-side-nav [category]="selectedCategory"  [searchKey]="searchKey" (notifyParent)="getSelectedProductByCategory($event)"></app-searched-components-side-nav>
        </div>
        <div class="col col-lg-10 cart-details">
            <div class="card-group row">
                <div class="dropdown" style="text-align: end;">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 10rem; height: 2.75rem; background-color: rgb(243, 243, 243); color: black; font-size: 1.5; font-weight: 600;">
                      Relevence <svg width="23" height="22" xmlns="http://www.w3.org/2000/svg" class="ml-1.5 fill-current"><path fill-rule="evenodd" d="M10.583 17.417a.917.917 0 1 1 0-1.834.917.917 0 0 1 0 1.834Zm9.167-1.834h-6.587a2.745 2.745 0 0 0-2.58-1.833c-1.193 0-2.2.77-2.58 1.833H3.25a.916.916 0 1 0 0 1.834h4.753a2.745 2.745 0 0 0 2.58 1.833c1.194 0 2.2-.77 2.58-1.833h6.587a.916.916 0 1 0 0-1.834Zm-1.834-3.666a.917.917 0 1 1 .001-1.834.917.917 0 0 1 0 1.834Zm0-3.667c-1.193 0-2.2.77-2.58 1.833H3.25a.916.916 0 1 0 0 1.834h12.086a2.745 2.745 0 0 0 2.58 1.833 2.753 2.753 0 0 0 2.75-2.75 2.753 2.753 0 0 0-2.75-2.75Zm-11-3.667a.917.917 0 1 1 0 1.834.917.917 0 0 1 0-1.834ZM3.25 6.417h1.086a2.745 2.745 0 0 0 2.58 1.833c1.194 0 2.201-.77 2.58-1.833H19.75a.916.916 0 1 0 0-1.834H9.497a2.745 2.745 0 0 0-2.58-1.833c-1.194 0-2.202.77-2.581 1.833H3.25a.916.916 0 1 0 0 1.834Z"></path></svg>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="box-shadow: 1px 2px 2px 1px rgb(184, 184, 184);">
                      <li><a class="dropdown-item" href="#">Relevence</a></li>
                      <li><a class="dropdown-item" href="#">Price - Low to High</a></li>
                      <li><a class="dropdown-item" href="#">Price - High to Low</a></li>
                    </ul>
                  </div>
                <div class="col-4" *ngFor="let product of searchedProducts, index as i" style="margin-bottom: 1.5rem;">
                    <div class="card" style=" margin-left: none; margin-right: none;">
                        <img class="card-img-top" src="../../assets/images/product-images/{{product.productImage}}"
                            alt="product image" style="width: 200px; height: 200px;"
                            routerLink="product/{{product.product_id}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.productName}}</h5>
                            <p class="card-text">{{ product.shortDescription }}</p>
                            <p class="card-text">{{ product.weight }}g</p>
                            <p class="card-text"> ₹{{ product.price }}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" disabled
                                    style="border-radius: none; background-color: rgb(241, 241, 241); color: rgb(40, 37, 37); width: 3.5rem; height: 2.5rem;">Qty
                                    :</button> <input type="text" [(ngModel)]="itemQty[i]"
                                    style="width: 2rem;">
                                <button type="button" class="btn btn-secondary add-to-cart"
                                    style="margin-left: 1rem; border-radius: .5rem;"
                                    (click)="addToCart(product.product_id, i)">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>