<nav class="navbar navbar-expand-lg navbar-light"
    style="height:9rem; box-shadow: 0px .5px .5px 6px #dcdcdc;background-color: rgba(71,111,0); color: white;">
    <div class="container-fluid" style="width: 80%;">
        <div style="width: 10%;">
        <a class="navbar-brand" href="#"
            style="text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.502); font-weight: 800; font-size: x-large; color: white;">Chota
            Basket</a>
            </div>
        <div style="width: 85%;">
            <div class="collapse navbar-collapse">
                <div class="p-2.5" style="margin-right: 1rem;">
                    <div class="flex flex-col gap-1">
                        <div class="d-flex flex-row items-center">
                            <div class="d-flex flex-row gap-2 items-center">
                                <div class="w-7 xl:w-8"><svg viewBox="0 0 28 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 xl:w-8 xl:h-8">
                                        <rect width="28" height="28" rx="14" fill="#76B900"></rect>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.22 19a.834.834 0 0 1-.608-.262L7.56 14.422a.833.833 0 1 1 1.214-1.141l3.437 3.659 7.007-7.668a.834.834 0 0 1 1.23 1.123l-7.613 8.333a.832.832 0 0 1-.61.272h-.005Z"
                                            fill="#76B900"></path>
                                        <mask id="completed_svg__a" maskUnits="userSpaceOnUse" x="7" y="9" width="14"
                                            height="10" style="mask-type: alpha;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.22 19a.834.834 0 0 1-.608-.262L7.56 14.422a.833.833 0 1 1 1.214-1.141l3.437 3.659 7.007-7.668a.834.834 0 0 1 1.23 1.123l-7.613 8.333a.832.832 0 0 1-.61.272h-.005Z"
                                                fill="#fff"></path>
                                        </mask>
                                        <g mask="url(#completed_svg__a)">
                                            <path fill="#fff" d="M4 4h20v20H4z"></path>
                                        </g>
                                    </svg></div>
                                <div class="font-bold text-base leading-5.5 xl:text-lg xl:leading-lg pr-0.5 opacity-75"
                                    style="flex: 0 0 auto;">Delivery Address</div>
                            </div>
                            <div
                                class="border-dashed opacity-50  border-b border-white w-30.5 xl:w-41.5 -mr-5.5 xl:-mr-11">
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-2.5 items-center opacity-75">
                            <p class="text-sm leading-xs xl:text-md xl:leading-md"><span
                                    class="font-semibold capitalize">Home - </span>000 0nd main, Z Block Brookefield
                            </p><button class="btn btn-md"
                                style="height: 2.5rem; background-color: none; border: 1px solid white; border-radius: .5rem; color: white;">Change</button>
                        </div>
                    </div>
                </div>
                <div class="p-2.5" style="margin-right: 1rem;">
                    <div class="flex flex-col gap-1">
                        <div class="d-flex flex-row items-center">
                            <div class="d-flex flex-row gap-2 items-center">
                                <div class="w-7 xl:w-8"><svg viewBox="0 0 29 28" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 xl:w-8 xl:h-8">
                                        <rect x="0.667" width="28" height="28" rx="14" fill="#fff"></rect>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.47 14.217h2.284l-.132.791a2.286 2.286 0 0 0-1.499 2.144 2.285 2.285 0 0 0 2.283 2.283c.909 0 1.695-.534 2.062-1.305h4.354a2.285 2.285 0 0 0 2.062 1.305 2.285 2.285 0 0 0 2.282-2.283c0-.967-.604-1.795-1.454-2.127l-.347-1.258.497.124v-1.956l-.937.234-.155-.56v-1.305h-2.169v1.305h.864c0 .118.016.236.05.352l.21.762-1.993 1.494h-1.087c0-.719-.585-1.304-1.305-1.304h-.489L14.341 9H7.166l1.63.978-.04.53h-.938l.876.795-.02.265-.041.53-.163 2.12Zm10.627-.143.238.862a2.289 2.289 0 0 0-1.71 1.89h-3.96a2.289 2.289 0 0 0-1.726-1.894l.119-.715h2.282c0 .72.585 1.305 1.305 1.305h1.521l1.93-1.448Zm-8.67 3.078a.98.98 0 0 1 1.957 0 .98.98 0 0 1-1.957 0Zm1.957-4.239H9.775l.326-2.609h2.609l-.326 2.609Zm6.522 4.24a.98.98 0 0 1 1.956 0 .98.98 0 0 1-1.956 0Z"
                                            fill="#202020"></path>
                                        <mask id="delivery-option_svg__a" maskUnits="userSpaceOnUse" x="7" y="9"
                                            width="16" height="11" style="mask-type: alpha;">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M8.47 14.217h2.284l-.132.791a2.286 2.286 0 0 0-1.499 2.144 2.285 2.285 0 0 0 2.283 2.283c.909 0 1.695-.534 2.062-1.305h4.354a2.285 2.285 0 0 0 2.062 1.305 2.285 2.285 0 0 0 2.282-2.283c0-.967-.604-1.795-1.454-2.127l-.347-1.258.497.124v-1.956l-.937.234-.155-.56v-1.305h-2.169v1.305h.864c0 .118.016.236.05.352l.21.762-1.993 1.494h-1.087c0-.719-.585-1.304-1.305-1.304h-.489L14.341 9H7.166l1.63.978-.04.53h-.938l.876.795-.02.265-.041.53-.163 2.12Zm10.627-.143.238.862a2.289 2.289 0 0 0-1.71 1.89h-3.96a2.289 2.289 0 0 0-1.726-1.894l.119-.715h2.282c0 .72.585 1.305 1.305 1.305h1.521l1.93-1.448Zm-8.67 3.078a.98.98 0 0 1 1.957 0 .98.98 0 0 1-1.957 0Zm1.957-4.239H9.775l.326-2.609h2.609l-.326 2.609Zm6.522 4.24a.98.98 0 0 1 1.956 0 .98.98 0 0 1-1.956 0Z"
                                                fill="#000"></path>
                                        </mask>
                                        <g mask="url(#delivery-option_svg__a)">
                                            <path fill="#202020" d="M4.667 4h20v20h-20z"></path>
                                        </g>
                                    </svg></div>
                                <div class="font-bold text-base leading-5.5 xl:text-lg xl:leading-lg pr-0.5 "
                                    style="flex: 0 0 auto;">Delivery Options</div>
                            </div>
                            <div
                                class="border-dashed opacity-50  border-b border-white w-30.5 xl:w-41.5 -mr-5.5 xl:-mr-11">
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-2.5 items-center ">
                            <p class="text-sm leading-xs xl:text-md xl:leading-md">13
                                Oct, Fri, Between 6:30 PM - 8:30 PM</p>
                            <button class="btn btn-md"
                                style="height: 2.5rem; background-color: none; border: 1px solid white; border-radius: .5rem; color: white;">Change</button>
                        </div>
                    </div>
                </div>
                <div class="p-2.5">
                    <div class="flex flex-col gap-1 opacity-75">
                        <div class="d-flex flex-row gap-2 items-center"><svg viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="w-7 h-7">
                                <rect width="28" height="28" rx="14" fill="#2F4A00"></rect>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.166 16.5H9.833A.836.836 0 0 1 9 15.667c0-.459.375-.834.833-.834h3.333c.459 0 .834.375.834.834a.836.836 0 0 1-.834.833Zm5 0H16.5a.836.836 0 0 1-.834-.833c0-.459.375-.834.834-.834h1.666c.459 0 .834.375.834.834a.836.836 0 0 1-.834.833Zm2.5.833c0 .46-.373.834-.833.834H8.167a.834.834 0 0 1-.834-.834v-4.166h13.334v4.166ZM7.333 10.667c0-.46.373-.834.833-.834h11.667c.46 0 .834.374.834.834v.833H7.332v-.833Zm12.5-2.5H8.167a2.503 2.503 0 0 0-2.5 2.5v6.666c0 1.379 1.121 2.5 2.5 2.5h11.666c1.379 0 2.5-1.121 2.5-2.5v-6.666c0-1.379-1.121-2.5-2.5-2.5Z"
                                    fill="#2F4A00"></path>
                                <mask id="payment-default_svg__a" maskUnits="userSpaceOnUse" x="5" y="8" width="18"
                                    height="12" style="mask-type: alpha;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.166 16.5H9.833A.836.836 0 0 1 9 15.667c0-.459.375-.834.833-.834h3.333c.459 0 .834.375.834.834a.836.836 0 0 1-.834.833Zm5 0H16.5a.836.836 0 0 1-.834-.833c0-.459.375-.834.834-.834h1.666c.459 0 .834.375.834.834a.836.836 0 0 1-.834.833Zm2.5.833c0 .46-.373.834-.833.834H8.167a.834.834 0 0 1-.834-.834v-4.166h13.334v4.166ZM7.333 10.667c0-.46.373-.834.833-.834h11.667c.46 0 .834.374.834.834v.833H7.332v-.833Zm12.5-2.5H8.167a2.503 2.503 0 0 0-2.5 2.5v6.666c0 1.379 1.121 2.5 2.5 2.5h11.666c1.379 0 2.5-1.121 2.5-2.5v-6.666c0-1.379-1.121-2.5-2.5-2.5Z"
                                        fill="#fff"></path>
                                </mask>
                                <g mask="url(#payment-default_svg__a)">
                                    <path fill="#fff" d="M4 4h20v20H4z"></path>
                                </g>
                            </svg>
                            <div class="font-bold texxl:leading-lgt-base leading-5.5 xl:text-lg xl:leading-lg">
                                Payment Options</div>
                        </div>
                        <div class="flex flex-row gap-2.5 items-center">
                            <p class="text-sm leading-xs xl:text-md xl:leading-md">Pay Cash on Delivery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>